{{ visit.content_html|safe }}

<div style="position: fixed; bottom: 0; left:0; padding:0.5rem; width: 100vw; background: oklch(0.901 0.058 230.902); color: oklch(0.391 0.09 240.876); font-family: sans-serif">LOCALLY ARCHIVED COPY</div>
